table {
  width: 30%;
}
.bt,
th {
  border: 1px solid;
}

input[type="text"] {
  width: 40%;
  padding: 4px;
  margin: 5px;
  border-radius: 4px;
}

input[type="submit"] {
  width: 20%;
  background-color: #ddd;
  padding: 8px;
  border-color: blue;
  border-radius: 4px;
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: #0000ee;
  margin-right: 4px;
}
